/* fonts from google and share all item style*/
body{
    font-family: 'Open Sans', sans-serif;
}
.text-color{
    color: orange;
}
.btn-primary{
    color: white;
    background-color: orange;
    border: 0;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    margin: 36px 35px;
    padding: 18px 19px;
}
/* nav releted style */



nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nav-title{
    color: black;
    font-size: 45px;
    font-weight: 800;
}

nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: black;
}
.header{
    background-color: #fff8f3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width: 500px;
}

.banner .banner-pic{
    width: 500px;

}

.banner-h3{
    color: rgba(41, 38, 38, 0.932);
    font-size: 35px;
    font-weight: 80;
    margin-bottom: 0;
}
.banner-h1{
    font-size: 45px;
    font-weight: 800;
    margin-top: 5;
    margin-bottom: 50;
}
.banner-p{
    font-size: 20px;
    margin: 0px;
}


/* main section style */
main section{
    margin-top: 130px;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* about section */

.about{
    border-radius: 15px;
    padding: 130px;
    background-color: #fff8f3;
    margin: 115px 0;
}


.about-title{
    text-align: center;
    font-size: 30px;
    font-weight: 800;
}
.about-des{
    text-align: center;
    font-size: 20px;
    font-weight: 300;
}

.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
    font-size: 15px;
    font-weight: 100;
    margin: 0;
}
.about-title{
    text-align: center;
    font-size: 25px;
    font-weight: 550;
    margin: 0;
}
.whatido-box-container{
    display: flex;
    gap: 24px;
    padding: 30px;
    
}

.do-box{
    padding: 30px;
    border-radius: 20px;
    box-shadow: 10px 6px 50px rgba(36, 33, 33, 0.06);
    background-color: #dfd6d0;

}

/* resumi summry */

.resume-title{
    text-align: center;
    margin: 50px;
    font-size: 25px;
    font-weight: 550;
}

.resumi-container{
    display: flex;
    gap: 70px;
}

.resume-item-description{
    color: gray;
}
.resume-item-institute{
    color: burlywood;
}

.download-button{
    text-align: center;
    margin-top: 20px;
}